    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-form {
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 400px;
        width: 100%;
        text-align: center;
    }

    .login-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .login-form button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: #ff0000; /* Red color */
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .error-message {
        color: red;
        margin-top: 5px;
    }

    @media(max-width: 500px) {
        .login-form {
            width: 90%;
        }
    }
